html {
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(180deg, #D6A0F4, #FFA5C7, #FF8CB6);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-gutter: stable;
    font-family: "Anonymous Pro";
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5px;
}

.header {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 27px;
    background: #ffffffa6;
    font-size: 30px;
}
.active {
    color: #C951A0;
    top: 30px;
    font-family: "IBM Plex Mono";
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.headerbuttons {
    position: absolute;
    top: 25px;
    right: 8vh;
}
.games {
    text-decoration: line-through;
}
.art-button, .contact {
    text-decoration: none;
}
.art-button, .contact, .games {
    color: #000;
    text-align: center;
    font-family: "IBM Plex Mono";
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    margin-inline: 10px;
    letter-spacing: 0.7px;
    transition: 0.33s;
}
.art-button:hover, .contact:hover, .games:hover {
    color: #ff8cb6e5;
}
.box {
    background-color:#fffbfb7c;
    padding: 20px;
    font-size: 35px;
    text-align: center;
    margin-left: 24%;
    width: 50%;
    margin-top: 30vh;
    border-radius: 60px;
}

.art {
    width: auto;
    margin-top: 30vh;
    text-align: center;
    background-color: #ffffffdc;
    padding: 15px;
    padding-bottom: 50px;
    margin-bottom: 20vh;
}
.p-art {
    font-size: 22px;
}

.h2 {
    font-family: "Crimson Text";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;

}

.p {
    margin-top: -10px;
    margin-bottom: 80px;
    font-size: 28px;
    font-style: italic;
}

.discord, .instagram, .github {
    transition: 0.33s;
    margin-inline: 10px;
}
.discord:hover, .instagram:hover, .github:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}

#cloud1 {
    position: absolute;
    left: -50%; /* Off-screen to the left */
    top: 60vh;
    transform: translateY(-50%);
    animation: glideIn1 4.5s forwards;
}

@keyframes glideIn1 {
    to {
        left: -17%; /* Slides in from the left */
    }
}

#cloud2 {
    z-index: 100;
    position: absolute;
    left: -300px; /* Off-screen to the left */
    top: 67vh;
    transform: translateY(-50%);
    animation: glideIn2 3s forwards;
    margin-bottom: 20px;
}

@keyframes glideIn2 {
    to {
        left: -5%; /* Slides in from the left */
    }
}

#cloud3 {
    position: absolute;
    z-index: 10;
    top: 21vh; /* Off-screen to the left */
    right: -20%;
    transform: translateY(-50%);
    animation: glideIn3 4s forwards;
}

@keyframes glideIn3 {
    to {
        right: -10%; /* Slides in from the left */
    }
}

#grid {
    position: relative;
    left: 5%;
    width: 90%;
    height: 45vh;
    transition: 0.56s;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: rgb(255, 250, 251);
  }

.left > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.centerleft > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
.center > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
.centerright > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
.right > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
  
#grid:has(.left:hover) {
    grid-template-columns: 0.5fr 0.3fr 0.3fr 0.3fr 0.3fr;
}
#grid:has(.centerleft:hover) {
    grid-template-columns: 0.3fr 0.5fr 0.3fr 0.3fr 0.3fr;
}
#grid:has(.center:hover) {
    grid-template-columns: 0.3fr 0.3fr 0.5fr 0.3fr 0.3fr;
}

#grid:has(.centerright:hover) {
    grid-template-columns: 0.3fr 0.3fr 0.3fr 0.5fr 0.3fr;
}

#grid:has(.right:hover) {
    grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr 0.5fr;
}

.songs {
    position: relative;
    text-align: center;
    background-color: #ffffff85;
    width: 100%;
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 10vh;
}
.song1, .song2, .song3 {
    margin-inline: 0.9vh;
}
footer {
    position: relative;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 10;
    color: #200404;
    font-family: "Playfair Display";
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: rgb(255, 248, 245);
    color: rgb(44, 10, 10);
    letter-spacing: 1.5px;
  }

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(255, 224, 232, 0.5); /* Set a background color */
    color: rgb(255, 255, 255); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 15px; /* Rounded corners */
    font-size: 16px; /* Increase font size */
    font-family: "Anonymous Pro";
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}
  
#myBtn:hover {
    background-color: #ffb2c5e1; /* Add a dark-grey background on hover */
}


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}